.mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
}

.boton {
        background-color: $color-azul !important;
        border-color: $color-azul !important;
        font-family: "Lora", serif;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 2rem;
        color: white;
        &:hover {background-color: #2d5fa8 !important;}
}

.btn {
        background-color: $color-azul;
        border-color: $color-azul;
        font-family: "Lora", serif;
        &:hover {background-color: #2d5fa8 !important;}
}

.card-img-top  {
    margin-bottom: 0px;
}

.card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.tt-card {
        margin-bottom: 2rem;
        text-align: center;
        font-family: "WindSong", cursive;
        color: $color-azul;
        font-size: x-large;
        text-align: center;
}

.t-card {
        margin-bottom: 2rem;
        text-align: center;
        color: $color-azul;
        font-size: medium;
        text-align: center;
        font-family: "Lora", serif;
}


    
