.grid-container-fiesta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 10%;
    justify-items: center;
    .card {
        border-style: none !important;
        display: flex !important;
        justify-items: center !important;
        width: 18rem;}
        .card-img-top { @extend .card-img-top;}
        .card-body { @extend .card-body;}
        .tt-card {
            margin-bottom: 2rem !important;
            text-align: center;
            font-family: "WindSong", cursive !important;
            color: $color-azul;
            font-size: x-large;
            text-align: center;}
            .t-card {
            margin-bottom: 2rem !important;
            text-align: center;
            color: $color-azul;
            font-size: medium;
            text-align: center;
            font-family: "Lora", serif !important;}
}

.mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    .boton {
        background-color: $color-azul !important;
        border-color: $color-azul !important;
        font-family: "Lora", serif;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 2rem;
        color: white;}
}
    
.flex-container-centrar {   
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        .grid-container-fiesta{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-right: 20%;
            margin-left: 20%;
            margin-bottom: 5%;
            margin-top: 10%;
            justify-items: center;
            .card {
                    border-style: none !important;
                    display: flex !important;
                    justify-items: center !important;
                    width: 18rem;
                    .card-img-top { @extend .card-img-top;}
                    .card-body { @extend .card-body;}
                    .tt-card {
                    margin-bottom: 2rem !important;
                    text-align: center;
                    font-family: "WindSong", cursive !important;
                    color: $color-azul;
                    font-size: x-large;
                    text-align: center;}
                    .t-card {
                    margin-bottom: 2rem !important;
                    text-align: center;
                    color: $color-azul;
                    font-size: medium;
                    text-align: center;
                    font-family: "Lora", serif !important;}
                }
            }
        .card-final{ 
            border-style: none !important;
            display: flex !important;
            justify-items: center !important;
            width: 18rem;
                .card-img-top { @extend .card-img-top;}
                .card-body { @extend .card-body;
                    .btn {background-color: $color-azul !important;
                        border-color: $color-azul !important;
                        font-family: "Lora", serif;}  }
                .tt-card {margin-bottom: 2rem !important;
            text-align: center;
            font-family: "WindSong", cursive !important;
            color: $color-azul;
            font-size: x-large;
            text-align: center;}
                .t-card {margin-bottom: 2rem !important;
            text-align: center;
            color: $color-azul;
            font-size: medium;
            text-align: center;
            font-family: "Lora", serif !important;}           
        }
}
       