footer {
    background-color: $color-celeste;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
     font-family: "Lora", serif;
     color:$color-azul;
     margin: 0px;
     text-align: center;}
}
    
