.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    .input{
        border-color: $color-azul;
        border-radius: 5px;
        width: 280px;
        margin: 0.5rem;
        font-family: "Lora", serif;
        padding-left: 2%;}
    .boton-form{
        background-color: $color-azul;
        border-color: $color-azul;
        font-family: "Lora", serif;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 1rem;
        color: white;
        margin-bottom: 3rem;}
}