header{
    .navbar{
            background-color: $color-celeste !important;
            .container-fluid {
                .navbar-toggler {color:$color-azul;
                    .navbar-toggler-icon {color:$color-azul;}
                }
            }
            .navbar-nav {
                .nav-item {color: $color-azul!important;
                .active {color: white !important}
            }
            }
        }
    }

footer {
    background-color: $color-celeste;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
     font-family: "Lora", serif;
     color:$color-azul;
     margin: 0px;
     text-align: center;}
}
    


