.titulo-y-subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
.portada {height: 40rem;
    margin-bottom: 50px;}
h1 { font-family: "WindSong", cursive;
    color:$color-azul;
    padding: 20px;
    margin: 2rem;
    text-align: center;}
.fecha {font-family: "Lora", serif;
    margin: 2rem 2rem;
    padding: 20px;
    color:$color-azul;
    text-align: center;}
h3 {font-family: "WindSong", cursive;
    color:$color-azul !important;
    font-size: x-large;
    text-align: center;}
}