.windsong-regular {
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.windsong-medium {
    font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
  }

.lora- {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
  }